In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('dataset551_sps-data.csv')

data.head(4)

,region,species,year,spawners,smoothedSpawners,runsize,smoothedRunsize,spawners_short_trend,spawners_short_trend_lwr,spawners_short_trend_upr,spawners_long_trend,spawners_long_trend_lwr,spawners_long_trend_upr,runsize_short_trend,runsize_short_trend_lwr,runsize_short_trend_upr,runsize_long_trend,runsize_long_trend_lwr,runsize_long_trend_upr,datasetversion
0,Yukon,Chinook,1982,36243.55,36243.56000,163100.43,163100.4400,NaN,NaN,NaN,53408.25469,48029.72093,59389.09519,NaN,NaN,NaN,215280.4614,192392.4937,240891.2954,20240719
1,Yukon,Chinook,1983,56152.47,45112.81168,183906.96,173191.5348,NaN,NaN,NaN,53245.03706,48065.79113,58982.36365,NaN,NaN,NaN,208547.0847,187128.7509,232416.9125,20240719
2,Yukon,Chinook,1984,68931.36,51960.36986,138446.79,160735.6021,NaN,NaN,NaN,53082.31823,48099.28297,58581.59071,NaN,NaN,NaN,202024.3093,181998.5811,224253.5152,20240719
3,Yukon,Chinook,1985,39518.40,48523.71475,157689.94,159968.7182,NaN,NaN,NaN,52920.09668,48129.88131,58187.06708,NaN,NaN,NaN,195705.5484,176997.6966,216390.7350,20240719

In [16]:
filtered_data = data[data['year'] >= 1994]
final_data = filtered_data[['species', 'year', 'spawners', 'runsize']]

In [19]:
pd.DataFrame.to_csv(final_data, 'fishData_cleaned.csv')